@import "tailwindcss";

@theme {
  --color-blue-50: #fff7ed;
  --color-blue-100: #ffedd5;
  --color-blue-200: #fed7aa;
  --color-blue-300: #fdba74;
  --color-blue-400: #fb923c;
  --color-blue-500: #f4911e;
  --color-blue-600: #ea580c;
  --color-blue-700: #c2410c;
  --color-blue-800: #9a3412;
  --color-blue-900: #7c2d12;
  --color-blue-950: #431407;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}